{% extends "base.html" %}

{% block cuerpo %}
<div class="row">
  <!-- La columna izquierda -->
  <div class="col-sm-12 col-md-4 col-lg-4 xl-4">
    <h1>Registrar Inventario</h1>
    <div class="card">
        <div class="card-body">
          <form action="registrarInventario/" method="POST">
            {% csrf_token %}
            
            <!-- Campo para el código del inventario -->
            <div class="form-group">
              <input type="text" id="txtid_inventario" name="txtid_inventario" class="form-control"
                     placeholder="Código único del inventario" minlength="1" maxlength="6" required>
            </div>
      
            <!-- Campo para la cantidad actual -->
            <div class="form-group py-3">
              <input type="text" id="numcantidad_actual" name="numcantidad_actual" class="form-control"
                     placeholder="Cantidad actual en inventario" maxlength="100" required>
            </div>
      
            <!-- Campo para la cantidad mínima -->
            <div class="form-group py-2">
              <input type="number" id="numcantidad_minima" name="numcantidad_minima" class="form-control"
                     min="1" max="100" value="10" required placeholder="Cantidad mínima permitida">
            </div>
      
            <!-- Campo para la fecha de actualización -->
            <div class="form-group py-3">
              <input type="date" id="datefecha_actual" name="datefecha_actual" class="form-control"
                     required>
            </div>
      
            <!-- Campo para la ubicación -->
            <div class="form-group py-2">
              <input type="text" id="txtubicacion" name="txtubicacion" class="form-control"
                     placeholder="Ubicación del inventario (Estante 1, Estante 2 ... )" maxlength="100" required>
            </div>
      
            <!-- Campo para el historial -->
            <div class="form-group py-3">
              <input type="text" id="txthistorial" name="txthistorial" class="form-control"
                     placeholder="Historial de cambios (Agotado, Devuelto ... )" maxlength="255">
            </div>
      
            <!-- Botón de envío -->
            <div class="form-group py-2">
              <button type="submit" class="btn btn-primary">Guardar Inventario</button>
            </div>
          </form>
        </div>
      </div>      
    </div>

  <!-- La columna derecha -->
  <div class="col-sm-12 col-md-8 col-lg-8 xl-8">
    <h1>Listado Inventario</h1>
    <!-- Tabla -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Id Inventario</th>
          <th scope="col">Cantidad actual</th>
          <th scope="col">Cantidad minima</th>
          <th scope="col">Fecha de actualizacion</th>
          <th scope="col">Ubicacion</th>
          <th scope="col">Historial</th>
        </tr>
      </thead>
      <tbody>
        {% for i in elinventario %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ i.id_inventario }}</td>
          <td>{{ i.cantidad_actual }}</td>
          <td>{{ i.cantidad_minima }}</td>
          <td>{{ i.fecha_actualizacion }}</td>
          <td>{{ i.ubicacion }}</td>
          <td>{{ i.historial }}</td>
          <td><a href="seleccionarInventario/{{ i.id_inventario }}" class="btn btn-info">Editar</a></td> 
          <td><a href="borrarInventario/{{ i.id_inventario }}" class="btn btn-danger">Borrar</a></td> 
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}